@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    box-sizing: border-box;
}


body {
    background-image: url('https://www.wallpaperflare.com/static/713/817/171/train-blurred-train-station-vehicle-wallpaper.jpg');
    opacity: 0.8;

    
}

.container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

       

}
#description {
    color: #fff;
    margin-bottom: 50px;
    font-size: 25px;
    -webkit-text-stroke: 1.2px black;
   
    
    
} 

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

.whitebox {
    border-style: solid;
    border-width: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    color:white;
    font-weight:bold; 
    width: 300px;
    margin-bottom: 5px;
    text-align: center;
    background-color: grey;
   
    

}
